body {
  padding: 0;
  margin: 0;
}

.container {
  background-color: #ffffff;
  padding: 0 10px;
}

.imgs img {
  width: 100%;
}

.main-img img {
  max-height: 400px;
  display: block;
  margin: 0.8rem auto;
}

.imgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.imgs img:hover {
  transform: scale(1.03);
}

.fade-out {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.8;
  }
  40% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}
