:root {
    --bg-color: #00b9ae;
    --color: #0b2545;
}

html,
body {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-color);
    color: var(--color);
}